
@(currentPage: com.avaje.ebean.Page[Product])
@main("Products catalogue") {

    <h2>All products</h2>

    <script>
    function del ( urlToDelete ) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>

    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
                <a href="@routes.Products.list(currentPage.getPageIndex - 1)">
                        &larr;
                </a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active">
            <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
        </li>
        @if(currentPage.hasNext) {
            <li>
                <a href="@routes.Products.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th> Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- currentPage.getList()) {
            <tr>
                <td><a href="@routes.Products.details(product)">@product.ean</a></td>
                <td><a href="@routes.Products.details(product)">@product.name</a></td>
                <td><a href="@routes.Products.details(product)">@product.description</a></td>

                <td>
                    <a href="@routes.Products.details(product)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <a onclick="javascript:del('@routes.Products.delete(product.ean)')">
                        <span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.Products.newProduct()" class="btn btn-primary">New product</a>
}